/* Get  new font styles from Google Fonts*/
@font-face {
    /* Set the font name as Dosis */
    font-family: "Dosis";
    src: url("static/Dosis-Bold.ttf");
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

body * {
    box-sizing: border-box;
    /* border: white solid 1px; */
    color: black;
}

button {
    border: none;
}

/* style the front color of small ones */
.small_color {
    color: rgb(124 136 146);
}


/* set the style of right part in profile page */
.main {
    margin-left: calc(100vw - 1400px);
    width: 1100px;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
    padding: 0;
}

.pro_header {
    padding-left: 1rem;
}

.pro_arrow {
    float: left;
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}


/* make arrow's background as a circle */
.arrow_i {
    border-radius: 50%;
    padding: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

/* change background color of arrow */
.arrow_i:hover {
    background-color: rgb(144, 144, 228);
    color: white;
}


/* the area include selfi image */
.pro_selfi {
    position: relative;
    margin-top: 1rem;
    background-color: rgba(196, 226, 26, 0.199);
    height: 12rem;
}

/* selfi image */
.img_container {
    position: absolute;
    top: 8rem;
    margin-left: 2rem;
    background-color: white;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: aquamarine;
}

/* The box contain user info and edit button */
.pro_info_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    height: 12rem;
}

/*style edit profile button */
.edit_button {
    position: relative;
    margin-right: 5rem;
    bottom: 3rem;
}

/* style user info area */
.pro_info {
    margin-top: 2rem;
    margin-left: 1rem;
}

/* style join time area */
.join_time {
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
}

/* style the function bar */
.profile_function {
    display: flex;
    border-top: rgb(194, 192, 192) 1px solid;
    border-bottom: rgb(194, 192, 192) 1px solid;
    height: 3rem;
}

/* style function elements */
.profile_function * {
    display: block;
    width: 50%;
    text-align: center;
    line-height: 3rem;
    transition: background 0.3s, color 0.3s;
}

.profile_function *:hover {
    background-color: rgb(144, 144, 228);
    color: white;
    cursor: pointer;
}

.pro_block {
    border: solid #4682aa 2px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.pro_titles {
    color: #44a6e7;
}

/* style of edit profile part */
.pro_edit {
    position: fixed;
    display: flex;
    left: 25%;
    top: 15%;
    width: max(calc(60vw), 500px);
    height: max(calc(65vh), 500px);
    background-color: white;
    border: black 1px solid;
    border-radius: 3%;
    box-shadow: 10px 10px 5px lightblue;
    overflow-y: auto;
}

/* style the width of form */
.edit_form {
    width: 100%;
}

/* style top side of form which contains close and save button*/
.pro_edit_header {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    height: 3rem;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    background-color: aliceblue;
    opacity: 80%;
}

/* The save button */
.cont_save {
    line-height: 100%;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

/* The close button */
.close_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background: grey;
    color: #f4f4f4;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 2rem;
    transition: background 0.3s;
}

.close_button:hover {
    background-color: rgb(144, 144, 228);
}

.cont_elem {
    margin: 3rem 3rem;
    width: max(calc(40vw), 360px);
}

.pro_post {
    padding: 2rem;
}

.pro_date {
    color: grey;
    font-size: small;
}

#pro_conatiner {
    position: relative;
}

#pro_postsBox {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

#pro_replybox {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    top: 0;
    left: 0;
}