.open::before {
    content: '';
    background-image: url(../static/pic/intro-back.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0px;
    width: 1159px;
    height: 707px;
    z-index: -1;
}

.open {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 80px 0px 40px 0px;
    position: relative;
    overflow: hidden;
}

.title {
    margin-left: 2vw;
    margin-top: 25vh;
}

#loginlink {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mid {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.mid img {
    width: 100%; 
    height: 100%; 
}

.mid-line {
    background-color: #f2f2f2;
    padding: 25px;
    text-align: center;
    background-color: #ffad42;
}

.intro-item {
    padding: 60px 30px;
    border: 2px solid #f7f7f7;
    border-radius: 5px;
    transition: all .3s;
    margin-top: 15px;
    margin-bottom: 30px;
}
  
.intro-item:hover {
    background-color: #fff;
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  }

.intro-doc {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 26px;
    line-height: 38px;
    color: #434795;
}

#sm {
    font-size: 20px;
    line-height: 20px;
}

.number {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 48px;
    line-height: 60px;
    color: #434795;
}

h1, h2, h3, h4 {
    font-family: Impact, Arial;
    color: #434795; }
h1 { font-size: 96px; }
h2 { font-size: 60px; }
h3 { font-size: 48px; color:#f2f2f2; }
h4 { font-size: 36px; }

a {
    text-decoration: none !important;
}
