 #title {
     width: 500px;
     background-color: red;
     margin: auto;
     display: flex;
     justify-content: center;

 }

 #signUp {
     background-color: aquamarine;
 }

 #groups {
     background-color: blueviolet;
 }

 .studentName:hover {
     font-weight: lighter;
 }

 .ejectButton {
     background-color: darkgoldenrod;
 }

 label {
     color: orange
 }

 form:hover {
     color: green
 }

 p:hover {
     color: hotpink
 }

 p::first-letter {
     color: orange
 }

 h2,
 b {
     color: teal
 }