<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/test.css"><!--Link to css-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script>
        function sayhi() {
            alert('HI2')
        }

        alert('Hello, this is an alert!')
    </script>

    <script src="/static/test.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <title>CITS Group project</title>
</head>

<body>
    <div class="container">
        <div id="title">
            <h1>Group project sign-up</h1>
        </div>


        <h2 style="color:yellow; background:purple">
            The concept of Hyperlinks
        </h2>

        <p>
            A hyperlink is an element in an HTML document that links to either another portion of the document or to
            another
            document altogether. On webpages, hyperlinks are usually colored purple or blue and are sometimes
            underlined.
        </p>

        <h2>
            What Does <b>Hyperlink</b> Mean?
        </h2>

        <button type="" button" class="btn btn-primary">primary button</button>


        <div class="container-fluid">
            <h1>Hello world!</h1>
            <p>Resiae the browser window to see the effect.</p>
            <div class="row">
                <div class="col-sm-8" style="background-color: darkcyan;">.col-sm-8
                    <div class="row">
                        <div class="col-sm-6" style="background-color: chocolate;">.col-sm-6</div>
                        <div class="col-sm-6" style="background-color: rgb(210, 66, 30)">.col-sm-6</div>
                    </div>
                </div>
                <div class="col-sm-4" style="background-color: darkcyan;">.col-sm-4</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-9 col-md-7" style="background-color: rgb(0, 49, 139);">.col-xs-9 col-md-7</div>
            <div class="col-xs-3 col-md-5" style="background-color: rgb(53, 0, 139);">.col-xs-3 col-md-5</div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-10" style="background-color: rgb(116, 0, 139);">.col-xs-6 col-md-10</div>
            <div class="col-xs-6 col-md-2" style="background-color: rgb(139, 0, 100);">.col-xs-6 col-md-2</div>
        </div>

        <p>
            A <b>hyperlink</b> can be thought of as an interface that links a source to a target. Clicking the
            hyperlink
            at the
            source will
            navigate to the target. Hyperlinks can assume any of the following appearances:
        </p>


        <div id="signUp">
            <h3 style="color: goldenrod;"> Enter you student number</h3>
            <p style="color: red;">It is not required to have 4 people , you will be assigned to fill out your group
            </p>

            <form action="/submitGroup">
                <label for="number of students">Number of srudents</label>
                <!--<input type="number" id="numberofstudents" min=1 max=4>!-->
                <select name="Number of students" id="numberofstudents">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                </select>
                <br>

                <label for="studnet1">Student1:</label>
                <input type="number" id="student1">
                <br>

                <label for="studnet2">Student2:</label>
                <input type="number" id="student2">
                <br>

                <label for="studnet3">Student3:</label>
                <input type="number" id="student3">
                <br>
                <label for="studnet4">Student4:</label>
                <input type="number" id="student4">
                <br>

                <input class="btn btn-danger" type="submit" id="submitBtn">
                glyphicon
            </form>
        </div>