<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> my units in 2024 semaster1 </title>
</head>

<body>
    <h1>WELCOME TO MY CHANNEL</h1>
    <img src="uwa.jpg">
    <h3>My Units </h3>

    1. <a href="https://handbooks.uwa.edu.au/unitdetails?code=CITS5505" target="_blank">CITS5505 Agile web
        development<br /></a>
    2. <a href="https://handbooks.uwa.edu.au/unitdetails?code=CITS5504" target="_blank">CITS5504 Data
        warehousing<br /></a>
    3. <a href="https://handbooks.uwa.edu.au/unitdetails?code=CITS1003" target="_blank">CITS1003 cybersecurity<br /></a>
    4. <a href="https://handbooks.uwa.edu.au/unitdetails?code=CITS2005" target="_blank">CITS2005 Object oriented
        programing</a>
    <h3>My Timetable</h3>
    <table align="center" width="500" height="250" border="1" cellspacing="0">
        <tr>
            <th>Time</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thr</th>
            <th>Fri</th>
        </tr>
        <tr>
            <td>9:00AM</td>
            <td></td>
            <td>CITS5505 lab</td>
            <td></td>
            <td>CITS2005 Lecture</td>
            <td>CITS5505 Workshop</td>
        </tr>
        <tr>
            <td>1:00PM</td>
            <td>CITS2005 Lecture</td>
            <td>CITS5504 lab</td>
            <td>CITS5504 Lecture</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3:00PM</td>
            <td>CITS1003 Lecture</td>
            <td>CITS1003 Lab</td>
            <td>CITS5505 Lecture</td>
            <td></td>
            <td></td>
        </tr>
    </table>

</body>

</html>