<div id="groups">
    <h2>Existing group</h2>
    <table>
        <tr>
            <th>Group ID</th>
            <th>Student1</th>
            <th>Student2</th>
            <th>student3</th>
            <th>Student4</th>
        </tr>
        {% for group in groups %}
        <tr>
            <td>1</td>
            {%for student in group.students%}
            <td> <span class="studentName">{{student.name}}rob</span>{{student.uwaID}}</td>
            {%endfor%}
            <td><span class="studentName">lily</span>(234)</td>
            <td><span class="studentName">julie</span>(345)</td>
            <td><span class="studentName">david</span>(456)</td>
        </tr>

        <tr>
            <td>2</td>
            <td><span class="studentName">jim</span>(134)</td>
            <td><span class="studentName">jenny</span>(567)</td>
            <td><span class="studentName">denia</span>(789)</td>
            <td><span class="studentName">paul</span>(436)</td>
        </tr>
    </table>
</div>


<div>
    <h2>SignIn</h2>
    <form action="" method="get">
        <!--Text -->
        <label for="1">UserName:</label>
        <input type="text" name="UserName" value="please type UserName" maxlength="6" id="1"> <br>

        <label for="2">PassWord:</label>
        <input type="password" name="password" value="please type PassWord" id="2"> <br>

        gender:
        <label for="3">male</label>
        <input type="radio" name="gender" value="3" checked="checked" id="3">


        <label for="4">female</label>
        <input type="radio" name="gender" value="female" id="4"> <br>

        hobby:
        sports<input type="checkbox" name="hobby" value="sports" checked="checked">
        music<input type="checkbox" name="hobby" value="music">
        movie<input type="checkbox" name="hobby" value="movie"> <br>
        <input type="submit"> <br>
        <input type="reset" value="Rest password"><br>
        <input type="button" value="Get a valid code"><br>
        <input type="file" value=""><br>

        Country:
        <select>
            <option selected="selected">China</option>
            <option>Australia</option>
            <option>France</option>
            <option>American</option>
            <option>Ireland</option>
        </select> <br>
        Feedback:
        <textarea>Please leave your advice and feedback. </textarea>
    </form>



</div>

<button onclick="alert('Hello,world!')">CLICK ME</button>

<h2>jAVASCRIPT fUNCTION</h2>

<P>This example calls a function which perform a calculation, and returns the result:</P>

<p id="demo"></p>

<script>
            function myFunction(p1, p2){
        return p1 * p2;
    }
    document.getElementById("demo").innerHTML = myFunction(4, 3);
</script>

kick out:
<button class="studentName ejectButton" ondblclick='factorial(5)'>jenny</button>

<button class="btn btn-primary" onclick="location.href='{{url_for("create")}}'">
    <span class="fa fa-trash"></span>create new group
</button>
</div>
</body>

<script>
    alert("Hi4")
</script>

</html>