<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>

<body>
    <p>Logged out, redirecting to the home page.</p>
</body>

<script>
    window.onload = function () {

        var jwtToken = localStorage.getItem("token")

        fetch('http://'+ window.location.hostname +':5000/logout', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${jwtToken}`, 
                'Content-Type': 'application/json'     
            },
        })
            .then(response => {
                return response.json().then(data => {
                    return { status: response.status, data: data };
                });
            })
            .then(result => {
                if (result.status === 200) {
                    console.log('Success:', result.data);
                    localStorage.removeItem('token');
                    localStorage.removeItem('userName');
                    localStorage.removeItem('userId');
                    location.href = "./index.html";
                } else {
                    console.log('Failed:', result.data);
                    localStorage.removeItem('token');
                    localStorage.removeItem('userName');
                    localStorage.removeItem('userId');
                    location.href = "./index.html";
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Logout Failed');
                location.href = "./index.html";
            });

    }


</script>

</html>