<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>

<body>
    <p>Logged out, redirecting to the home page.</p>
</body>

<script>
    window.onload = function () {

        var jwtToken = localStorage.getItem("token")
        var apiAddress = window.location.hostname
        console.log(jwtToken)

        if (!jwtToken) {
            // 如果用户未登录，隐藏或修改显示的内容
            document.getElementById('posts').style.display = 'none';
            document.getElementById('replies').style.display = 'none';
        } else {
            // 可以加载用户数据的API调用
            fetchPostsAndReplies(jwtToken);
        }

        if (apiAddress == "") {
            apiAddress = "127.0.0.1"
        }

        fetch('http://' + apiAddress + ':5000/logout', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${jwtToken}`,
                'Content-Type': 'application/json'
            },
        })
            .then(response => {
                return response.json().then(data => {
                    return { status: response.status, data: data };
                });
            })
            .then(result => {
                if (result.status === 200) {
                    console.log('Success:', result.data);
                    localStorage.removeItem('token');
                    localStorage.removeItem('userName');
                    localStorage.removeItem('userId');
                    location.href = "./index.html";
                } else {
                    console.log('Failed:', result.data);
                    localStorage.removeItem('token');
                    localStorage.removeItem('userName');
                    localStorage.removeItem('userId');
                    location.href = "/index";
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Logout Failed');
                location.href = "/index";
            });

    }


</script>

</html>