{% extends "base.html" %}

{% block profile %}
<link rel="stylesheet" href="../static/profile_styles.css">
<script type="module" src="../static/profile_js.js"></script>

{% endblock %}

{% block content %}
<div class="main">
    <div class="pro_header">
        <!-- arrow in the profile header -->
        <div class="pro_arrow"><a href="#" class="arrow_a"><i class="fas fa-arrow-left arrow_i"></i></a></div>
        <div class="currentUser"></div>
        <div class="small_color small" id="pro_postNum"></div>
    </div>

    <div class="pro_selfi">
        <div class="img_container">
            <img class="avatarImg" id="pro_pro" src="" alt="self-img">
        </div>
    </div>

    <div class="pro_info_box">
        <div class="pro_info  small_color">
            <div class="currentUser"></div>
            <div class="pro_nickname small">@ This is nick name</div>
            <div class="join_time small">This is joined time</div>
            <div class="follow small"><span>n following</span> <span>n followers</span></div>
        </div>

    </div>



    <div class="profile_function">
        <div id="pro_posts">POSTS</div>
        <div id="pro_replies">REPLIES</div>
    </div>

    <div id="test"></div>

    <div id='pro_conatiner'>
        <div id="pro_postsBox"></div>
        <div id="pro_replybox"></div>
    </div>

</div>
{% endblock %}