<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/welcome_css.css">
    <link rel="stylesheet" href="../static/animated.css">
    <title>Welcome to Help5505</title>
</head>
<body>
    <div class="open wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="row open-elem">
        <div class="col-lg-6">
          <div class="open-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
            <h1>HELP5505</h1>
            <h2>SEEK ASSISTANCE</h2>
            <h2>EMBRACE WISDOM</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="open-right wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
            <div><img id="gallery" src="../static/pic/intro-gallery.png" alt=""></div>
            <div><a id="loginlink" href="/login"><h3>LOGIN</h3></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mid wow fadeIn" data-wow-duration="3s" data-wow-delay="1s"><img src="../static/pic/chevron.gif" alt="">
    </div>
    <div class="mid-line wow slideInUp" data-wow-duration="1s" data-wow-delay="0.1s"">
      <h4>Introductory</h4>
    </div>
    <div class="intro">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-9">
            <div class="intro-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="intro-doc">
                <h5><span><a href="/signup">SIGN UP</a></span> if you do not have an account!🚀</h5><br>
                <p>Help5505 forum is designed to facilitate connections among individuals related to CITS5505 Agile Web Development.</p><br>
                <p>In addition to receiving support from instructors and fellow students, you can also gain a valuable experience in your web development study journey.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="intro-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="1s">
              <div class="intro-doc" id="sm">
                <h5>Guess what?🌟</h5><br>
                <p>The forum already has a total</p> 
                <p>of <span id="totalUser"> </span> users, <span id="totalPost"></span> posts,</p>
                <p>and <span id="totalReply"></span> replies to all posts.</p><br>
                <p>TOGETHER WE CAN DO BETTER!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
    <script src="../static/welcome_js.js"></script>
    <script src="../static/animation.js"></script>
  </body>
</html>
